body {
    padding: 20px;
}

h1{
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

mat-list-option {
    font-family: 'Exo', sans-serif;
}

.card {
    /* border: 2px solid Black; */
    margin: 0 auto;
    padding: 2em;
    width: 85%;
    position:fixed;
    min-height:100%;
    max-height:100%;
}


.opponentNameButton{
    margin-bottom: 10px;
}

.opponentInput {
    margin-bottom: 20px;
    font-family: 'Exo', sans-serif;
}

.inputButton {
    display: flex;
    flex-direction: row;
}

.newOpponentButton {
    margin-left: 10px;
    font-family: 'Exo', sans-serif;
}

.goToStats {
    color: white;
    font-family: 'Exo', sans-serif;
    margin-bottom: 25%;
}
