<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap" rel="stylesheet">
</head>

<body class="font">

    <h1 class="mat-h1">
      SELECT PLAYER 2
    </h1>
    <div class="form-check chooseOpponent">

      <!-- Template Variable #checker Opponents -->
      <mat-selection-list #checkerOpponents [multiple]="false">
        <mat-list-option *ngFor="let opponent of opponents" [value]="opponent.name"
          (click)="selectPlayerTwo(opponent.name)">
          {{opponent.name}}
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </div>

    <br><br>

    <button
      mat-raised-button color="warn"
      class="goToStats"
      routerLink="/stats"
    >
      Game Stats
    </button>

    <br><br>

    <div class="opponentInput">
      <span class="inputButton">
        <mat-form-field>
          <mat-label>
            Enter new Opponent
          </mat-label>
          <input matInput placeholder="Ex. Charles Schultz" [(ngModel)]="nameInTextInput">
        </mat-form-field>

        <br><br>

        <button mat-raised-button color="primary" (click)="addNewOpponent(); clearInputText()"
          class="newOpponentButton">
          Add Opponent
        </button>
      </span>
    </div>

</body>

</html>
